.btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 800;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-align: center;
    min-width: 100px; 
    text-transform: capitalize;  
}

.outlined-btn{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 800;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
}

.outlined-btn:hover {
    background-color: var(--blue);
}